<%= form_for(@notam) do |f| %>
  <% if @notam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@notam.errors.count, "error") %> prohibited this notam from being saved:</h2>

      <ul>
      <% @notam.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :notam_value %><br>
    <%= f.text_area :notam_value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
