<h1>Listing notams</h1>

<table>
  <thead>
    <tr>
      <th>Notam value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notams.each do |notam| %>
      <tr>
        <td><%= notam.notam_value %></td>
        <td><%= link_to 'Show', notam %></td>
        <td><%= link_to 'Edit', edit_notam_path(notam) %></td>
        <td><%= link_to 'Destroy', notam, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Notam', new_notam_path %>
