<%= form_for(@time_table) do |f| %>
  <% if @time_table.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@time_table.errors.count, "error") %> prohibited this time_table from being saved:</h2>

      <ul>
      <% @time_table.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :icao_code %><br>
    <%= f.text_field :icao_code %>
  </div>
  <div class="field">
    <%= f.label :day1 %><br>
    <%= f.text_field :day1 %>
  </div>
  <div class="field">
    <%= f.label :day2 %><br>
    <%= f.text_field :day2 %>
  </div>
  <div class="field">
    <%= f.label :day3 %><br>
    <%= f.text_field :day3 %>
  </div>
  <div class="field">
    <%= f.label :day4 %><br>
    <%= f.text_field :day4 %>
  </div>
  <div class="field">
    <%= f.label :day5 %><br>
    <%= f.text_field :day5 %>
  </div>
  <div class="field">
    <%= f.label :day6 %><br>
    <%= f.text_field :day6 %>
  </div>
  <div class="field">
    <%= f.label :day7 %><br>
    <%= f.text_field :day7 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
