<h1>Listing time_tables</h1>

<table>
  <thead>
    <tr>
      <th>Icao code</th>
      <th>Day1</th>
      <th>Day2</th>
      <th>Day3</th>
      <th>Day4</th>
      <th>Day5</th>
      <th>Day6</th>
      <th>Day7</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @time_tables.each do |time_table| %>
      <tr>
        <td><%= time_table.icao_code %></td>
        <td><%= time_table.day1 %></td>
        <td><%= time_table.day2 %></td>
        <td><%= time_table.day3 %></td>
        <td><%= time_table.day4 %></td>
        <td><%= time_table.day5 %></td>
        <td><%= time_table.day6 %></td>
        <td><%= time_table.day7 %></td>
        <td><%= link_to 'Show', time_table %></td>
        <td><%= link_to 'Edit', edit_time_table_path(time_table) %></td>
        <td><%= link_to 'Destroy', time_table, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Add New NOTAM DATA', new_notam_path %>
<%= link_to 'New Time table', new_time_table_path %>
