<p id="notice"><%= notice %></p>

<p>
  <strong>Icao code:</strong>
  <%= @time_table.icao_code %>
</p>

<p>
  <strong>Day1:</strong>
  <%= @time_table.day1 %>
</p>

<p>
  <strong>Day2:</strong>
  <%= @time_table.day2 %>
</p>

<p>
  <strong>Day3:</strong>
  <%= @time_table.day3 %>
</p>

<p>
  <strong>Day4:</strong>
  <%= @time_table.day4 %>
</p>

<p>
  <strong>Day5:</strong>
  <%= @time_table.day5 %>
</p>

<p>
  <strong>Day6:</strong>
  <%= @time_table.day6 %>
</p>

<p>
  <strong>Day7:</strong>
  <%= @time_table.day7 %>
</p>

<%= link_to 'Edit', edit_time_table_path(@time_table) %> |
<%= link_to 'Back', time_tables_path %>
